.idea
/SwissDN_DERs.zip
/LV_with_percentage.zip
/SwissPDGs-TimeSeries/
/SwissDN_DERs/01_PV/2030/LV_generation.csv
/SwissDN_DERs/01_PV/2030/LV_P_installed.csv
/SwissDN_DERs/01_PV/2030/LV_std.csv
/SwissDN_DERs/01_PV/2030/MV_generation.csv
/SwissDN_DERs/01_PV/2030/MV_P_installed.csv
/SwissDN_DERs/01_PV/2030/MV_std.csv
/SwissDN_DERs/01_PV/2040/LV_generation.csv
/SwissDN_DERs/01_PV/2040/LV_P_installed.csv
/SwissDN_DERs/01_PV/2040/LV_std.csv
/SwissDN_DERs/01_PV/2040/MV_P_installed.csv
/SwissDN_DERs/01_PV/2040/MV_std.csv
/SwissDN_DERs/01_PV/2040/MV_generation.csv
/SwissDN_DERs/01_PV/2050/LV_generation.csv
/SwissDN_DERs/01_PV/2050/LV_P_installed.csv
/SwissDN_DERs/01_PV/2050/LV_std.csv
/SwissDN_DERs/01_PV/2050/MV_generation.csv
/SwissDN_DERs/01_PV/2050/MV_P_installed.csv
/SwissDN_DERs/01_PV/2050/MV_std.csv
/SwissDN_DERs/02_BESS/2030/BESS_allocation_LV.csv
/SwissDN_DERs/02_BESS/2030/BESS_allocation_MV.csv
/SwissDN_DERs/02_BESS/2040/BESS_allocation_LV.csv
/SwissDN_DERs/02_BESS/2040/BESS_allocation_MV.csv
/SwissDN_DERs/02_BESS/2050/BESS_allocation_LV.csv
/SwissDN_DERs/02_BESS/2050/BESS_allocation_MV.csv
/SwissDN_DERs/03_HP/2030/LV_heat_pump_allocation.csv
/SwissDN_DERs/03_HP/2030/MV_heat_pump_allocation.csv
/SwissDN_DERs/03_HP/2030/Temperature_profiles.csv
/SwissDN_DERs/03_HP/2040/LV_heat_pump_allocation.csv
/SwissDN_DERs/03_HP/2040/MV_heat_pump_allocation.csv
/SwissDN_DERs/03_HP/2040/Temperature_profiles.csv
/SwissDN_DERs/03_HP/2050/LV_heat_pump_allocation.csv
/SwissDN_DERs/03_HP/2050/MV_heat_pump_allocation.csv
/SwissDN_DERs/03_HP/2050/Temperature_profiles.csv
/SwissDN_DERs/04_EV/2030/EV_allocation_LV.csv
/SwissDN_DERs/04_EV/2030/EV_flexible_energy_profiles_LV.csv
/SwissDN_DERs/04_EV/2030/EV_power_profiles_LV.csv
/SwissDN_DERs/04_EV/2040/EV_allocation_LV.csv
/SwissDN_DERs/04_EV/2040/EV_flexible_energy_profiles_LV.csv
/SwissDN_DERs/04_EV/2040/EV_power_profiles_LV.csv
/SwissDN_DERs/04_EV/2050/EV_allocation_LV.csv
/SwissDN_DERs/04_EV/2050/EV_flexible_energy_profiles_LV.csv
/SwissDN_DERs/04_EV/2050/EV_power_profiles_LV.csv
/SwissDN_DERs/05_Demand/2040/LV_basicload_shares.csv
/SwissDN_DERs/05_Demand/2030/MV_load_profile.csv
/SwissDN_DERs/05_Demand/2050/Residential_profiles.csv
/SwissDN_DERs/05_Demand/2030/Residential_profiles.csv
/SwissDN_DERs/05_Demand/2040/Residential_profiles.csv
/SwissDN_DERs/05_Demand/2050/LV_basicload_shares.csv
/SwissDN_DERs/05_Demand/2050/Commercial_profiles.csv
/SwissDN_DERs/05_Demand/2040/MV_load_profile.csv
/SwissDN_DERs/05_Demand/2030/LV_basicload_shares.csv
/SwissDN_DERs/05_Demand/2050/MV_load_profile.csv
/SwissDN_DERs/05_Demand/2040/Commercial_profiles.csv
/SwissDN_DERs/05_Demand/2030/Commercial_profiles.csv
/SwissDN_DERs/06_Grids/LV.zip
/SwissDN_DERs/06_Grids/MV.zip
/SwissDN_DERs/07_Complementary_data/Municipalities_2022_01_crs2056.geojson
/PV/MV/
/PV/LV/
/PV/Old/
/PV/data_processing/dict_grid_municipality.csv
/PV/data_processing/file_folder_lv.json
/PV/data_processing/dict_canton_grid_LV_pointwise.json
/PV/data_processing/dict_municipality_grid_LV.json
/PV/data_processing/dict_canton_grid_MV.json
/PV/data_processing/dict_lv_mv.json
/PV/data_processing/canton_coordinates_plot.csv
/PV/data_processing/dict_mv_lv.json
/PV/data_processing/dict_folder.json
/PV/data_processing/canton_union.geojson
/PV/data_processing/dict_canton_grid_LV.json
/PV/data_processing/demand_MV.csv
/PV/data_processing/list_test_id_MV.json
/PV/data_processing/list_test_id_LV.json
/PV/data_processing/municipality_boundary.geojson
/PV/data_processing/MV_trafos.geojson
/PV/data_processing/MV_trafos_voronoi.geojson
/PV/data_processing/swiss_boundaries.geojson
/PV/data_processing/table_grid_canton_MV.csv
/PV/data_processing/table_grid_municipality_LV.csv
/PV/PV_input/PV_data/PV_allocation_LV.csv
/PV/PV_input/PV_data/PV_allocation_MV.csv
/PV/PV_input/PV_data/rooftop_PV_CH_annual_by_building.csv
/PV/PV_input/PV_data/rooftop_PV_CH_annual_by_building_MV_processed.csv
/PV/PV_input/PV_data/rooftop_PV_CH_EPV_W_by_building.csv
/PV/PV_input/PV_data/rooftop_PV_CH_EPV_W_std_by_building.csv
/PV/PV_input/PV_data/rooftop_PV_CH_Gt_W_m2_by_building.csv
/PV/PV_input/PV_split/
/Plotting_data/FIgures.pdf
/Plotting_data/FIgures.pptx
/Plotting_data/Updated_114-1_0_3_nodes.geojson
/Plotting_data/Power_energy_capacity_LV_MV_data.xlsx
/Plotting_data/Updated_6629-4_0_4_nodes.geojson
/Plotting_data/lv_grid_data.csv
/Plotting_data/mv_grid_canton.csv
/Plotting_data/mv_grid_data.csv
/MV_basicload/MV_basicload_input/Basel_2012-2024.csv
/MV_basicload/MV_basicload_input/CH-2023.xlsx
/MV_basicload/MV_basicload_input/data_collection.xlsx
/MV_basicload/MV_basicload_input/Mittelbunden_2018-2024.csv
/MV_basicload/MV_basicload_input/support/
/MV_basicload/MV_basicload_input/Winterthur/
/MV_basicload/MV_basicload_output/2030/MV_load_profile.csv
/MV_basicload/MV_basicload_output/2050/MV_load_profile.csv
/MV_basicload/MV_basicload_output/2030/MV_load_profile_std.csv
/MV_basicload/MV_basicload_output/2040/MV_load_profile_std.csv
/MV_basicload/MV_basicload_output/2040/MV_load_profile.csv
/MV_basicload/MV_basicload_output/2050/MV_load_profile_std.csv
/MV_basicload/MV_basicload_output/Output/
/MV_basicload/MV_basicload_output/Pictures/
/MV_basicload/MV_basicload_output/MV_load_profile.csv
/MV_basicload/MV_basicload_output/MV_load_profile_std.csv
/LV_basicload/LV/Alps-Periurban/
/LV_basicload/LV/Alps-Rural/
/LV_basicload/LV/Alps-Urban/
/LV_basicload/LV/Jura-Periurban/
/LV_basicload/LV/Jura-Rural/
/LV_basicload/LV/Jura-Urban/
/LV_basicload/LV/Midlands-Periurban/
/LV_basicload/LV/Midlands-Rural/
/LV_basicload/LV/Midlands-Urban/
/LV_basicload/Concatenated_results/
/LV_basicload/Old/
/LV_basicload/LV_basicload_output/results/
/LV_basicload/LV_basicload_output/2050/Commercial_profiles.csv
/LV_basicload/LV_basicload_output/2050/LV_basicload_shares.csv
/LV_basicload/LV_basicload_output/2050/Residential_profiles.csv
/LV_basicload/LV_basicload_output/2040/Commercial_profiles.csv
/LV_basicload/LV_basicload_output/2040/LV_basicload_shares.csv
/LV_basicload/LV_basicload_output/2040/Residential_profiles.csv
/LV_basicload/LV_basicload_output/2030/Commercial_profiles.csv
/LV_basicload/LV_basicload_output/2030/LV_basicload_shares.csv
/LV_basicload/LV_basicload_output/2030/Residential_profiles.csv
/HP/configuration_files/
/HP/HP_input/Buildings_data/Building_split/
/HP/HP_input/Buildings_data/Buildings data AG/
/HP/HP_input/Buildings_data/Builidngs_to_grid_Blazhe/
/HP/HP_input/Buildings_data/Old/
/HP/HP_input/Buildings_data/References/
/HP/HP_input/Buildings_data/Building_allocation_LV.csv
/HP/HP_input/Buildings_data/Building_allocation_MV.csv
/HP/HP_input/Buildings_data/Buildings_data.csv
/HP/HP_input/configuration_files/Multi Family House.xlsx
/HP/HP_input/configuration_files/Populations.xlsx
/HP/HP_input/configuration_files/Single Family House.xlsx
/HP/HP_input/Temperature_data/raw_data/
/HP/HP_input/temp_data_HP.json
/HP/HP_input/temp_data_temperatures.json
/HP/HP_output/2040/LV_heat_pump_allocation.csv
/HP/HP_output/2050/Temperature_profiles.csv
/HP/HP_output/2050/Weather_stations_location.csv
/HP/HP_output/2040/Weather_stations_location.csv
/HP/HP_output/2050/LV_heat_pump_allocation.csv
/HP/HP_output/2030/Weather_stations_location.csv
/HP/HP_output/2040/Temperature_profiles.csv
/HP/HP_output/2040/MV_heat_pump_allocation.csv
/HP/Old/
/HP/HP_output/2050/MV_heat_pump_allocation.csv
/HP/HP_output/2030/Temperature_profiles.csv
/HP/HP_output/2030/MV_heat_pump_allocation.csv
/HP/HP_output/2030/LV_heat_pump_allocation.csv
/EV/EV_input/CP_y4.csv
/EV/EV_input/FE_y4.csv
/EV/EV_input/PD_y4.csv
/EV/EV_input/PU_y4.csv
/EV/EV_input/nine_zones 2.geojson
/EV/EV_output/EV_municipality/
/EV/EV_output/EV_percentage/
/EV/EV_output/2030/EV_allocation_LV.csv
/EV/EV_output/2030/EV_energy_profiles_LV.csv
/EV/EV_output/2030/EV_flexible_energy_profiles_LV.csv
/EV/EV_output/2030/EV_power_profiles_LV.csv
/EV/EV_output/2040/EV_allocation_LV.csv
/EV/EV_output/2040/EV_energy_profiles_LV.csv
/EV/EV_output/2040/EV_flexible_energy_profiles_LV.csv
/EV/EV_output/2040/EV_power_profiles_LV.csv
/EV/EV_output/2050/EV_allocation_LV.csv
/EV/EV_output/2050/EV_energy_profiles_LV.csv
/EV/EV_output/2050/EV_flexible_energy_profiles_LV.csv
/EV/EV_output/2050/EV_power_profiles_LV.csv
/EV/EV_percentage/
/EV/profiles/
/EV/EV_input/
/BESS/Output/2050/BESS_allocation_LV.csv
/BESS/Output/2050/BESS_allocation_MV.csv
/BESS/Output/2040/BESS_allocation_MV.csv
/BESS/Output/2040/BESS_allocation_LV.csv
/BESS/Output/2030/BESS_allocation_MV.csv
/BESS/Output/2030/BESS_allocation_LV.csv
/PV/PV_output/2030/LV_generation.csv
/PV/PV_output/2030/LV_medoids.csv
/PV/PV_output/2030/LV_P_installed.csv
/PV/PV_output/2030/MV_generation.csv
/PV/PV_output/2030/MV_P_installed.csv
/PV/PV_output/2030/LV_std.csv
/PV/PV_output/2030/MV_std.csv
/PV/PV_output/2040/LV_generation.csv
/PV/PV_output/2040/LV_P_installed.csv
/PV/PV_output/2040/LV_std.csv
/PV/PV_output/2040/MV_generation.csv
/PV/PV_output/2040/MV_P_installed.csv
/PV/PV_output/2040/MV_std.csv
/PV/PV_output/2050/LV_generation.csv
/PV/PV_output/2050/LV_std.csv
/PV/PV_output/2050/MV_generation.csv
/PV/PV_output/2050/MV_P_installed.csv
/PV/PV_output/2050/MV_std.csv
/PV/PV_output/2050/LV_P_installed.csv
/PV/PV_output/MV_std.csv
/PV/PV_output/MV_P_installed.csv
/PV/PV_output/MV_generation.csv
/PV/PV_output/LV_std.csv
/PV/PV_output/LV_P_installed.csv
/PV/PV_output/LV_generation.csv
/MV_basicload/Old/
/HP/HP_input/Buildings_data/Buildings data Switzerland/wohnung_logement_abitazione.csv
/HP/HP_input/Buildings_data/Buildings data Switzerland/buildings.geojson
/HP/HP_input/Buildings_data/Buildings data Switzerland/data.sqlite
/HP/HP_input/Buildings_data/Buildings data Switzerland/eingang-entree-entrata_specifications.pdf
/HP/HP_input/Buildings_data/Buildings data Switzerland/eingang_entree_entrata.csv
/HP/HP_input/Buildings_data/Buildings data Switzerland/entrances.geojson
/HP/HP_input/Buildings_data/Buildings data Switzerland/gebaeude-batiment-edificio_specifications.pdf
/HP/HP_input/Buildings_data/Buildings data Switzerland/gebaeude_batiment_edificio.csv
/HP/HP_input/Buildings_data/Buildings data Switzerland/kodes_codes_codici.csv
/HP/HP_input/Buildings_data/Buildings data Switzerland/license.pdf
/HP/HP_input/Buildings_data/Buildings data Switzerland/readme.pdf
/HP/HP_input/Buildings_data/Buildings data Switzerland/wohnung-logement-abitazione_specifications.pdf
/LV_basicload/LV_basicload_input/Buildings_data/gebaeude_batiment_edificio.csv
/LV_basicload/LV_basicload_output/municipality_profiles/
/Grids/LV/
/Grids/MV/
/LV_basicload/LV/
/PV/data_processing/
/Old/
