PV/data_processing/canton_coordinates_plot.csv
PV/data_processing/canton_union.geojson
PV/data_processing/demand_MV.csv
PV/data_processing/dict_canton_grid_LV.json
PV/data_processing/dict_canton_grid_LV_pointwise.json
PV/data_processing/dict_canton_grid_MV.json
PV/data_processing/dict_folder.json
PV/data_processing/dict_grid_municipality.csv
PV/data_processing/dict_lv_mv.json
PV/data_processing/dict_municipality_grid_LV.json
PV/data_processing/dict_mv_lv.json
PV/data_processing/file_folder_lv.json
PV/data_processing/list_test_id_LV.json
PV/data_processing/list_test_id_MV.json
PV/data_processing/municipality_boundary.geojson
PV/data_processing/MV_trafos.geojson
PV/data_processing/MV_trafos_voronoi.geojson
PV/data_processing/swiss_boundaries.geojson
PV/data_processing/table_grid_canton_MV.csv
PV/data_processing/table_grid_municipality_LV.csv