SwissDN_DERs/05_Demand/2040/Commercial_profiles.csv
SwissDN_DERs/05_Demand/2040/LV_basicload_shares.csv
SwissDN_DERs/05_Demand/2040/MV_load_profile.csv
SwissDN_DERs/05_Demand/2040/Residential_profiles.csv