PV/PV_input/PV_data/PV_allocation_LV.csv
PV/PV_input/PV_data/PV_allocation_MV.csv
PV/PV_input/PV_data/rooftop_PV_CH_annual_by_building.csv
PV/PV_input/PV_data/rooftop_PV_CH_annual_by_building_MV_processed.csv
PV/PV_input/PV_data/rooftop_PV_CH_EPV_W_by_building.csv
PV/PV_input/PV_data/rooftop_PV_CH_Gt_W_m2_by_building.csv
PV/PV_input/PV_data/rooftop_PV_CH_EPV_W_std_by_building.csv