HP/HP_input/configuration_files/Multi Family House.xlsx
HP/HP_input/configuration_files/Populations.xlsx
HP/HP_input/configuration_files/RLC_parameters.xlsx
HP/HP_input/configuration_files/Single Family House.xlsx