SwissDN_DERs/05_Demand/2030/Commercial_profiles.csv
SwissDN_DERs/05_Demand/2030/LV_basicload_shares.csv
SwissDN_DERs/05_Demand/2030/MV_load_profile.csv
SwissDN_DERs/05_Demand/2030/Residential_profiles.csv