LV_basicload/LV_basicload_input/Square_zones_dmd/Alps-Periurban
LV_basicload/LV_basicload_input/Square_zones_dmd/Alps-Rural
LV_basicload/LV_basicload_input/Square_zones_dmd/Alps-Urban
LV_basicload/LV_basicload_input/Square_zones_dmd/Jura-Periurban
LV_basicload/LV_basicload_input/Square_zones_dmd/Jura-Rural
LV_basicload/LV_basicload_input/Square_zones_dmd/Jura-Urban
LV_basicload/LV_basicload_input/Square_zones_dmd/Midlands-Periurban
LV_basicload/LV_basicload_input/Square_zones_dmd/Midlands-Rural
LV_basicload/LV_basicload_input/Square_zones_dmd/Midlands-Urban